<!DOCTYPE html>
<html>

<head>
    <title>Bulls and Cows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/simple-peer/simple-peer/simplepeer.min.js"></script>
</head>

<body>
    <div class="loading hide">Loading...</div>
    <div class="container">
        <div class="board">
            <div class="nav hide">
                <ul>
                    <li class="active">Play</li>
                    <li>Chat</li>
                </ul>
            </div>

            <div class="game">
                <div class="card choose-type ">
                    <input type="submit" value="CREATE A GAME" id="createGame"/>
                    <input type="submit" value="USE GAME TOKEN" id="submitToken"/>
                </div>


                <div class="card hide gameEnd">
                    <p><span id="gameEndMessage"></span></p>
                </div>

                <div class="card create-game-form hide ">
                    <label>Name: <input type="text" id="nickname1"/></label> <br />
                    <label>Secret Num: <input type="text" id="play1sec"/></label> <br />
                    <input type="submit" value="PLAY" id="playCreate" />
                    <input type="submit" value="CANCEL" id="cancel1" />
                </div>

                <div class="card show-token hide">
                    <label for="tokenBox">Your token: </label>
                    <input type="text" id="tokenBox"/>
                    <input type="submit" id="continue" value="copy" onclick="tokenBox.select();document.execCommand('copy');"/>
                    <p id="tokenStatus"></p>
                </div>

                <div class="card token-form hide ">
                    <label>Token: <input type="text" id="tokenValue" /></label> <br />
                    <label>Name: <input type="text"  id="nickname2"/></label> <br />
                    <label>Secret Num: <input type="text" id="play2sec"/></label> <br />
                    <input type="submit" value="PLAY" id="playToken"/>
                    <input type="submit" value="CANCEL" id="cancel2" />
                </div>

                <div class="game-board hide">
                    <table>
                        <tr class="first-row">
                            <td>
                                <table>
                                    <tr>
                                        <th>Guess</th>
                                        <th>I</th>
                                        <th>P</th>

                                        <th>Guess</th>
                                        <th>I</th>
                                        <th>P</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="scrollable-row" id="guessBoard">
                                    <table>
                                        <tbody id="tbody">
                                            <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
        
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                        </tbody>   
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="submit-input">
                        <input type="text" placeholder="guess" id="submit-input-text" />
                        <input type="submit" value="guess" id="submit-guess" />
                    </div>
                </div>
            </div>

            <div class="side">
                <div class="side-nav hide">
                    <ul>
                        <li class="">Chat</li>
                    </ul>
                </div>

                <div class="chat hide ">
                    <div class="message-box">
                    </div>
                    <div class="chat-input">
                            <input type="text" placeholder="write a message" id="message" />
                            <input type="submit" value="send" id="sendMessage"/>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <script src="script/util.js"></script>
    <script src="game/gameLogic.js"></script>
    <script src="script/script.js"></script>
</body>

</html>